body {
    background-color: #f0ece2;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
}

.item {
    background-color:#c7b198;
    padding: 15px;
    margin-bottom: 15px;
    border:1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 5px;
}

button:focus {
    border: 1px solid #333;
}

ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
